legend{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}

input[type=text],input[type=email]{
    width: 100%;
    height: 40px;
    background-color: #d3d3d3;
    border-collapse: collapse;

}
textarea{
    height: 80px;
    width: 100%;
    background-color: #d3d3d3;
}
#form{
    padding: 40px;
    background-color: white;
    text-align: center;
}
button{
    color: white;
    border-radius: 50px;
    width: 30%;
    height: 40px;
    background-color: #25b3ff;

}
